<%- include('includes/header') %>
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
      </div>
      <hr> 
    </div>
    <h5 class="bolder"><strong>Performance Details :</strong></h5>
        <div class="row">
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder text-center"><strong >Batting Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col" style="width: 35%; color: #007bff;">
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      Sohag Roy
                    </th>
                    <th scope="col" style="width: 30%;"><strong>VS</strong></th>
                    <th scope="col" style="width: 35%;color: #007bff;" >
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      YOU
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12</td>
                    <td>Matches </td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Innings</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>432</td>
                    <td>Runs</td>
                    <td>220</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>Fours</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Sixes</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Fifties</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Hundreds</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Not Out</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>84</td>
                    <td>Hight Runs</td>
                    <td>67</td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item-container mb-2">
              <p class="bolder text-center"><strong >Bowling Details</strong></p>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead >
                  <tr>
                    <th scope="col" style="width: 35%;color: #007bff;" >
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      Sohag Roy
                    </th>
                    <th scope="col" style="width: 30%;"><strong>VS</strong></th>
                    <th scope="col" style="width: 35%;color: #007bff;" >
                      <div class="text-center">
                        <img class="avatar-compare"  src="/images/sohag.jpg" alt="">
                      </div>
                      YOU
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12</td>
                    <td>Matches </td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Innings</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>123</td>
                    <td>Runs Given</td>
                    <td>109</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>Overs</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Wickets</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Maden Ovs</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>3 wickets</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>0</td>
                    <td>5 wickets</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Hight wickets</td>
                    <td>3</td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
<hr>
<h5 class="bolder"><strong>Common Match Details :</strong></h5>
  <!-- ******match details structure starting**** -->
  <div class=" mb-2">
    <div class="item-container" > 
        <div class="post-header" style="width: 100%;display: flex;">
          <div class="mr-auto" style="padding-left: 5px;">
            <div style="margin: 0;padding: 0;">
            <strong class="text-primary">Common Match Number : 10</strong>
            </div>
            <div style="margin: 0;padding: 0;">
              <i><span>Siliguri 1st division cricket league-2021 Played on 12/12/12</span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
            </div>
          </div>
          <div class="float-right">
            <div style="margin-right: 8px;">
              <div>
                <strong><span class="text-warning">CCA(own)</span> vs <span class="text-primary">MSC</span></strong>
              </div>
              <div class="text-center">
                <strong class="text-info">(same_team)</strong>
              </div>
              
              <!-- <strong><i class="fas fa-ellipsis-h"></i></strong> -->
            </div>
          </div>
        </div>
      <hr style="margin-bottom: .35rem;margin-top: 2px;">
      <!-- performance details will be here -->
      <table class="table table-sm table-bordered " >
        <tr>
          <div class="bolder">Batting Performance :</div>
          <td><strong>Player</strong></td>
          <td><strong>Runs</strong></td>
          <td><strong>Balls</strong></td>
          <td><strong>4's</strong></td>
          <td><strong>6's</strong></td>
          <td><strong>SR</strong></td>
          <td><strong>Out</strong></td>
        </tr>
        <tr>
          <td><strong class="text-secondary">Sohag Roy</strong></td>
          <td>10</td>
          <td>20</td>
          <td>1</td>
          <td>0</td>
          <td>50.00</td>
          <td>No</td>
        </tr>
        <tr>
          <td><strong class="text-secondary">YOU</strong></td>
          <td>10</td>
          <td>20</td>
          <td>1</td>
          <td>0</td>
          <td>50.00</td>
          <td>No</td>
        </tr>
        
      </table>
      <table class="table table-sm table-bordered" >
        <tr>
          <div class="bolder">Bowling Performance :</div>
          <td><strong>Player</strong></td>
          <td><strong>Runs</strong></td>
          <td><strong>Ovrs</strong></td>
          <td><strong>Wkt</strong></td>
          <td><strong>Mdn</strong></td>
          <td><strong>Wd</strong></td>
          <td><strong>No</strong></td>
        </tr>
        <tr>
          <td><strong class="text-secondary">Sohag Roy</strong></td>
          <td>10</td>
          <td>2</td>
          <td>1</td>
          <td>0</td>
          <td>2</td>
          <td>0</td>
        </tr>
        <tr>
          <td><strong class="text-secondary">YOU</strong></td>
          <td colspan="6">
            <div class="btn btn-outline-secondary btn-sm btn-block">
            You did not bowl in that match.
          </div>
        </td>
          <!-- <td>10</td>
          <td>2</td>
          <td>1</td>
          <td>0</td>
          <td>2</td>
          <td>0</td> -->
        </tr>
      </table>
      
      
      <hr style="margin-bottom: 5px;margin-top:1px;">
      <!-- comment section -->
      <div style="width: 100%; border-radius: 5px;">
        <div style="display: flex;"> 
          <div class="p-2 bg-warning" style="width: 100%; display: flex;"> 
            <div style="width: 100%;"><strong>MSC won the match by 10 runs</strong></div>
          </div>
          <div class="btn btn-primary">
            <a href="" target="_blank" style="color: #fff;">
              Match_Details
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ********match details structure ends******** -->


  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>
  <%- include('includes/footer') %>
