<%- include('includes/header') %>
<%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
    <div class="single-batch-container mt-2">
      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
      </div> 
      <h5 class="bolder text-success mt-2"><strong>Your Performance Analysis</strong></h5>
      <hr>
      
      <p><strong>Performance analysis related charts will be here</strong></p>
    </div>
  </div>
  <div class="col-lg"></div>
</div>

<!-- scoring rooms ends -->
<%- include('includes/footer') %>