<%- include('includes/header') %> <%- include('includes/flash') %>
<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
        <div>
          <img class="home-profile-image" src="/images/sohag.jpg" />
          <p style="background-color: aliceblue;height: 40px;margin-top: -23px;">
            <span class="btn btn-outline-info "><strong>Sohag Roy</strong></span>
            <span class="btn btn-outline-info float-right "><strong> Manage Profile</strong></span>
          </p>
        </div>
      </div> 
    
      
        <hr>
        <div class="container mt-2 mb-2" style="padding: 0px;">
          <div class="path text-center" style="padding: 1rem;">
              <div class="col" style="width: 100%;">
                <a href="/practice-match-addition-form">
                  <div class="btn btn-outline-info btn-sm btn-block"><strong>Add Practice Match Details</strong></div>
                </a>
              </div>
          </div>
        </div>
        <hr>
        <h5 class="bolder"><strong>Performance Details :</strong></h5>
        <div class="row">
          <div class="col-md-6">
            <div class="item-container mb-2">
              <strong class="text-center"><p>Batting Details</p></strong>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col" style="width: 35%;color: #007bff;">Tournament Matches</th>
                    <th scope="col" style="width: 30%;"></th>
                    <th scope="col" style="width: 35%;color: #007bff;">Practice Matches</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12</td>
                    <td>Matches </td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Innings</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>432</td>
                    <td>Runs</td>
                    <td>220</td>
                  </tr>
                  <tr>
                    <td>22</td>
                    <td>Fours</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Sixes</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Fifties</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Hundreds</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>Not Out</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>84</td>
                    <td>Hight Runs</td>
                    <td>67</td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="item-container mb-2">
              <strong class="text-center"><p>Bowling Details</p></strong>
              <hr style="margin-bottom: .25rem;margin-top: 0rem;">
              <table class="table table-sm table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col" style="width: 35%; color: #007bff;" >Tournament Matches</th>
                    <th scope="col" style="width: 30%;"></th>
                    <th scope="col" style="width: 35%; color: #007bff;" >Practice Matches</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12</td>
                    <td>Matches </td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Innings</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>123</td>
                    <td>Runs Given</td>
                    <td>109</td>
                  </tr>
                  <tr>
                    <td>20</td>
                    <td>Overs</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Wickets</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Maden Ovs</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>3 wickets</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>0</td>
                    <td>5 wickets</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Hight wickets</td>
                    <td>3</td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h5 class="bolder"><strong>Tournament Match Details :</strong></h5>
        
             <!-- ******match details structure starting**** -->
            <div class=" mb-2">
              <div class="item-container" >
                <div style="display: flex;">
                  <div class="text-center">
                    <img class="avatar-small" style="top:7px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
                  </div>
                  <div class="post-header" style="width: 100%;display: flex;">
                    <div class="mr-auto" style="padding-left: 5px;">
                      <div style="margin: 0;padding: 0;">
                      <strong class="text-primary">Match Number : 10</strong>
                      </div>
                      <div style="margin: 0;padding: 0;">
                        <i><span>Siliguri 1st division cricket league-2021 Played on 12/12/12</span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
                      </div>
                    </div>
                    <div class="float-right">
                      <p style="margin-right: 8px;">
                        <strong><span class="text-warning">CCA(own)</span> vs <span class="text-primary">MSC</span></strong>
                        <!-- <strong><i class="fas fa-ellipsis-h"></i></strong> -->
                      </p>
                      
                    </div>
                  </div>
                </div>
                <hr style="margin-bottom: .35rem;margin-top: 2px;">
                <!-- performance details will be here -->
                <table class="table table-sm table-bordered " >
                  <tr>
                    <div class="bolder">Batting Performance :</div>
                    <td><strong>Runs</strong></td>
                    <td><strong>Balls</strong></td>
                    <td><strong>4's</strong></td>
                    <td><strong>6's</strong></td>
                    <td><strong>SR</strong></td>
                    <td><strong>Out</strong></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>20</td>
                    <td>1</td>
                    <td>0</td>
                    <td>50.00</td>
                    <td>No</td>
                  </tr>
                  
                </table>
                <table class="table table-sm table-bordered" >
                  <tr>
                    <div class="bolder">Bowling Performance :</div>
                    <td><strong>Runs</strong></td>
                    <td><strong>Ovrs</strong></td>
                    <td><strong>Wkt</strong></td>
                    <td><strong>Mdn</strong></td>
                    <td><strong>Wd</strong></td>
                    <td><strong>No</strong></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                  </tr>
                  
                </table>
                
                
                <hr style="margin-bottom: 5px;margin-top:1px;">
                <!-- comment section -->
                <div style="width: 100%; border-radius: 5px;">
                  <div style="display: flex;"> 
                    <div class="p-2 bg-warning" style="width: 100%; display: flex;"> 
                      <div style="width: 100%;"><strong>MSC won the match by 10 runs</strong></div>
                    </div>
                    <div class="btn btn-primary">
                      <a href="" target="_blank" style="color: #fff;">
                        Match_Details
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ********match details structure ends******** -->

          </div>
          <div class="col-md-6">
            <h5 class="bolder"><strong>Practice Match Details :</strong></h5>
        
             <!-- ******match details structure starting**** -->
            <div class=" mb-2">
              <div class="item-container" >
                <div style="display: flex;">
                  <div class="text-center">
                    <img class="avatar-small" style="top:7px ;margin-left: 0rem;margin-right: 2px;" src="/images/sohag.jpg" alt="">
                  </div>
                  <div class="post-header" style="width: 100%;display: flex;">
                    <div class="mr-auto" style="padding-left: 5px;">
                      <div style="margin: 0;padding: 0;">
                      <strong class="text-primary">Match Number : 10</strong> | <strong><span class="text-warning">CCA(own)</span> vs <span class="text-primary">MSC</span></strong>
                   
                      </div>
                      <div style="margin: 0;padding: 0;">
                        <i><span>Played at ABC Ground on 12/12/12</span></i> <span style="font-weight: 500;">.</span><i class="fas fa-user-friends fa-sm"></i>
                      </div>
                    </div>
                    <div class="float-right">
                      <p style="margin-right: 8px;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong><i class="fas fa-ellipsis-h"></i></strong>
                      </p>
                      <div class="dropdown-menu dropdown-menu-right">
                      <span class="btn btn-sm btn-danger">Delete Match</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr style="margin-bottom: .35rem;margin-top: 2px;">
                <!-- performance details will be here -->
                <table class="table table-sm table-bordered " >
                  <tr>
                    <div class="bolder">Batting Performance :</div>
                    <td><strong>Runs</strong></td>
                    <td><strong>Balls</strong></td>
                    <td><strong>4's</strong></td>
                    <td><strong>6's</strong></td>
                    <td><strong>SR</strong></td>
                    <td><strong>Out</strong></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>20</td>
                    <td>1</td>
                    <td>0</td>
                    <td>50.00</td>
                    <td>No</td>
                  </tr>
                  
                </table>
                <table class="table table-sm table-bordered" >
                  <tr>
                    <div class="bolder">Bowling Performance :</div>
                    <td><strong>Runs</strong></td>
                    <td><strong>Ovrs</strong></td>
                    <td><strong>Wkt</strong></td>
                    <td><strong>Mdn</strong></td>
                    <td><strong>Wd</strong></td>
                    <td><strong>No</strong></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                  </tr>
                  
                </table>
                
                
                <hr style="margin-bottom: 5px;margin-top:1px;">
                <!-- comment section -->
                <div style="width: 100%; border-radius: 5px;">     
                  <div class="p-2 bg-warning text-center"> 
                    <strong>MSC won the match by 10 runs</strong>
                  </div>
                </div>
              </div>
            </div>
            <!-- ********match details structure ends******** -->

          </div>
        </div>
    </div>
  </div>
  <div class="col-lg notVisibleOnCollapse" >
  </div>
</div>


<%- include('includes/footer') %>
