<%- include('includes/header') %>
<%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >
    <div class="single-batch-container mt-2">

      <div style="width: 100%;position: relative;">
        <img class="home-cover-image" src="/images/sohag.jpg"/>
      </div> 
      <h5 class="bolder text-success mt-2"><strong>Add New Practice Match Details</strong></h5>
      <hr>
      <div class="single-batch-data pb-2 pt-2">
        <span class="bolder ml-2"><strong>Add Match Data :</strong></span>
        <form class="m-2" action="/add-practice-match-performance" method="POST" id="practiceMatchDetailsForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="myTeamName" class="text-muted mb-1"><small>Your team name</small></label>
              <input required name="myTeamName" id="myTeamName" class="form-control form-control-lg" type="text" placeholder="Enter your team name" autocomplete="off" />
            </div>
            <div class="form-group col-md-6">
              <label for="opponentTeamName" class="text-muted mb-1"><small>Opponent team name</small></label>
              <input required name="opponentTeamName" id="opponentTeamName" class="form-control form-control-lg" type="text" placeholder="Enter opponent team name" autocomplete="off" />
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label for="venue" class="text-muted mb-1"><small>Ground Name</small></label>
              <input required name="venue" id="venue" class="form-control form-control-lg" type="text" placeholder="Enter the ground name" autocomplete="off" />
            </div>
            <div class="form-group col-md-6">
              <label for="date" class="text-muted mb-1"><small>Date of the game</small></label>
              <input required name="date" id="date" class="form-control form-control-lg" type="date" placeholder="Enter the played date" autocomplete="off" />
            </div>
          </div>
          
          <div class="form-group">
            <label for="shortDetails" class="text-muted mb-1"><small>Give short details about the match</small></label>
            <input required name="shortDetails" id="shortDetails" class="form-control form-control-lg" type="text" placeholder="Short details about the match" autocomplete="off" />
          </div>
          <hr>
          <div class="form-group">
            <label for="didPlayerBatted" class="text-muted mb-1"><small>Did you batted in that match</small></label>
            <select id="didPlayerBatted" class="form-control form-control-lg"  form="practiceMatchDetailsForm">
              <option value="no">NO</option>
              <option value="yes">YES</option>
            </select>
          </div>
          <div id="battingDataFields">
          </div>

          <div class="form-group">
            <label for="didPlayerBowled" class="text-muted mb-1"><small>Did you bowled in that match</small></label>
            <select id="didPlayerBowled" class="form-control form-control-lg"  form="practiceMatchDetailsForm">
              <option value="no">NO</option>
              <option value="yes">YES</option>
            </select>
          </div>
          <div id="bowlingDataFields">
          </div>

          <input type="text" hidden id="battingData" name="battingData">
          <input type="text" hidden id="bowlingData" name="bowlingData">
          <button  id="practiceMatchDataSubmitButton" class=" py-3 mt-4 btn btn-lg btn-success btn-block">Add Match Data</button>
        </form>

        <script src="/practiceMatchDataInputForm.js"></script>
        </div>
      </div>
    </div>
  <div class="col" ></div>
</div>
<%- include('includes/footer') %>